body{
    background-color: #E2BDFF;
    color:black;
}

.logo{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    margin-left: 3vw;
    margin-top:1vw;
}

.APF a:link, .APF a:hover, .APF a:visited{
    float:right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    margin-right: 2vw;
    word-spacing: 2vw;
    margin-top: -2vw;
    text-decoration: none;
    color:black;
}
.welcome{
    margin: auto;
    text-align:center;
    margin-top:7vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3vw;
    color: #8B12EA;
    text-align: left;
    margin-left: 30vw;
   
}

.welcomeB p{
    display: inline-block;
    border: 1.9vw solid #8B12EA;
    border-radius: 30px;
    line-height: 0px;
    color:#E2BDFF;
    background-color: red;
}
.welcomeB{
    font-size: 4vw;

}
.about a:link, .about a:hover, .about a:visited{
    text-align:center;
    margin-top:7vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    color: #E2BDFF;
    text-align: left;
    margin-left: 31vw;
    border: 3px solid #8B12EA;
    display:inline-block;
    margin-top: 5vw;
    background-color: #8B12EA;
    border-radius: 0.5vw;
    text-decoration: none;
}
#about{
    text-align: left;
    margin-top: 50vw;
    margin-left: 20vw;
}